<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons -->
<link rel="shortcut icon" href="images/Bazki_Creations_1.png">
<link rel="apple-touch-icon" href="images/Bazki_Creations_1.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/Bazki_Creations_1.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/Bazki_Creations_1.png">

<title>Bazki Creations</title> 

<!-- Styles -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i&display=swap" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" media="screen">

    <style>
        img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]
        {
            display : none;
        }
    </style>
    
</head>
<body>
  <div class="animsition">   
    <div class="loader"><div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div></div>

    <!-- Content CLick Capture-->

    <div class="click-capture"></div>

    <!-- Sidebar Menu-->

    <div class="menu"> 
      <span class="close-menu icon-cross2 right-boxed"></span>
      <ul class="menu-list right-boxed">
        <li  data-menuanchor="page1">
          <a  href="#page1">Home</a>
        </li>
        <li  data-menuanchor="page2">
          <a href="#page2">Specialization</a>
        </li>
        <li  data-menuanchor="page3">
          <a href="#page3">Resume</a>
        </li>
        <li  data-menuanchor="page4">
          <a href="#page4">About</a>
        </li>
        <li  data-menuanchor="page5">
          <a href="#page5">Projects</a>
        </li>
        <li  data-menuanchor="page6">
          <a href="#page6">Testimonials</a>
        </li>
        <li  data-menuanchor="page7">
          <a href="#page7">Contact</a>
        </li>
      </ul>
      <div class="menu-footer right-boxed">
        <div class="social-list">
            <a href="https://twitter.com/Bazki_Creations" class="icon ion-social-twitter"></a>
            <a href="https://www.facebook.com/baskaran.baski2000" class="icon ion-social-facebook"></a>
            <a href="https://www.instagram.com/call_me_baski_r_boss" class="icon ion-social-instagram"></a>
            <a href="https://in.linkedin.com/in/baskaran-baski-9471321b9?trk=people-guest_people_search-card" class="icon ion-social-linkedin"></a>
            <a href="https://www.youtube.com/channel/UC9grWPiejbNPGrscDKJYRpw" class="icon ion-social-youtube"></a>
        </div>
        <div class="copy">© Bazki_Creations. All Rights Reseverd<br>Design by Baskaran</div>
      </div>
    </div>

    <!-- Navbar -->

    <header class="navbar navbar-fullpage boxed">
      <div class="navbar-bg"></div>
      <a class="brand" href="index.html">
        <img alt="" sizes="114x114" src="images/Bazki Creations 1(White) Changed1.png">
        <div class="brand-info">
          <div class="brand-name">Bazki_Creations</div>
        </div>
      </a>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <div class="contacts d-none d-md-block">
        <div class="contact-item">
          <a href="tel:+91 9566429476">Call us at +91 9566429476</a>
        </div>
        <div class="contact-item spacer">
          /
        </div>
        <div class="contact-item">
          <a href="mailto:bazkicreations@gmail.com" target="_blank">bazkicreations@gmail.com</a>
        </div>
      </div>
    </header>
    <div class="copy-bottom white boxed">© Bazki_Creations.</div>
    <div class="social-list social-list-bottom boxed">
        <a href="https://twitter.com/Bazki_Creations" target="_blank" class="icon ion-social-twitter"></a>
        <a href="https://www.facebook.com/baskaran.baski2000" target="_blank" class="icon ion-social-facebook"></a>
        <a href="https://www.instagram.com/call_me_baski_r_boss" target="_blank" class="icon ion-social-instagram"></a>
        <a href="https://in.linkedin.com/in/baskaran-baski-9471321b9?trk=people-guest_people_search-card" target="_blank" class="icon ion-social-linkedin"></a>
        <a href="https://www.youtube.com/channel/UC9grWPiejbNPGrscDKJYRpw" target="_blank" class="icon ion-social-youtube"></a>
      </div>
    <div class="pagepiling">
      <!-- Page 1 -->
      <div data-anchor="page1" class="pp-scrollable text-white section section-1">
        <div class="scroll-wrap">
          <div class="section-bg" style="background-image:url(images/Baski_BG.jpg);"></div>
          <div class="scrollable-content">
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="row">
                        <div class="col-md-8 col-lg-6">
                          <div class="headline">
                          <h1 class="display-2 text-white  wow fadeIn" data-wow-delay="0.1s"><span class="text-primary">Hello there!!</span> I'm Bazki</h1>
                        </div>
                          <!-- <a class="popup-youtube"  href="http://www.youtube.com/watch?v=0O2aH4XLbto"><span class="icon ion-ios-play"></span>Watch video </a> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page 2 -->
      <div data-anchor="page2" class="pp-scrollable section section-2">
        <div class="scroll-wrap">
          <div class="scrollable-content">
            <div class="vertical-title text-white  d-none d-lg-block"><span>What I do</span></div>
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <h2 class="title mb-5 pb-5"> <span class="text-primary">My</span> specialization</h2>
                      <div class="row-specialization row">
                        <div class="col-specialization col-md-6 col-lg-4">
                          <span class="icon-specialization icon-laptop-phone"></span>
                          <h4 class="text-uppercase">Web Designing</h4>
                          <p>Working with client and community, we deliver masterplans that create vibrant new places and spaces, attract people, and encourage investment through.</p>
                        </div>
                        <div class="col-specialization col-md-6 col-lg-4">
                          <span class="icon-specialization icon-camera-play"></span>
                          <h4 class="text-uppercase">Photography & Videography</h4>
                          <p>Intrested in Photography and a Videography as a passion, when bored take a shot in nature</p>
                        </div>
                        <div class="col-specialization col-md-6 col-lg-4">
                          <span class="icon-specialization icon-film2"></span>
                          <h4 class="text-uppercase">Editing</h4>
                          <p>Working in Channel office and studio and as YouTube, we deliver the snaps and video that create vibrant new ideas, attract people, and encourage investment through as part-time.</p>
                        </div>
                      </div>
                      <div class="view-all">
                        <a href="images/Baskaran K Resume.pdf" target="_blank">
                          Download resume
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page 3 -->
      <div data-anchor="page3" class="pp-scrollable text-white section section-3">
        <div class="scroll-wrap">
          <div class="section-bg mask" style="background-image:url();"></div>
          <div class="scrollable-content">
            <div class="vertical-title d-none d-lg-block"><span>Resume</span></div>
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="row row-resume">
                        <div class="col-md-6 fadeY fadeY-1">
                          <h2 class="resume-header title">Education</h2>
                          <div class="col-resume">
                            <div class="resume-content">
                              <div class="resume-inner">
                                <div class="resume-row">
                                  <h6 class="resume-type">(BCA)</h6>
                                  <i class="resume-study">Ayya Nadar Janaki Ammal College, Sivakasi.<br>2018 – Present</i>
                                  <p class="resume-text"></p>
                                </div>
                                <div class="resume-row">
                                  <h6 class="resume-type">(HSC)</h6>
                                  <i class="resume-study">Kshatriya Vidhya Sala Higher Secondary School, Virudhunagar<br>2018</i>
                                  <p class="resume-text"></p>
                                </div>
                                <div class="resume-row">
                                  <h6 class="resume-type">(SSLC) </h6>
                                  <i class="resume-study">Kshatriya Vidhya Sala Higher Secondary School, Virudhunagar<br>2016</i>
                                  <p class="resume-text"></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 pt-md-5 mt-md-5 fadeY fadeY-2">
                          <h2 class="resume-header title">Experience</h2>
                          <div class="col-resume">
                            <div class="resume-content">
                              <div class="resume-inner">
                                <div class="resume-row">
                                  <h6 class="resume-type">SV Media and Photography Studio</h6>
                                  <i class="resume-study">(Serves only during the availability of the work)<br></i>
                                  <p class="resume-text">Take high-quality photos of couples, children, and pets and edit the photos using the appropriate software. Worked on streaming media and video editing.</p>
                                </div>
                                <div class="resume-row">
                                  <h6 class="resume-type">Sathana TV & Thamarai TV – Local TV Channels</h6>
                                  <i class="resume-study">(Serves only during the availability of the work)<br></i>
                                  <p class="resume-text">Worked as a Video Editor of a cooking show called “Virudhai Kitchen Queen” and has been telecasted in the local channel.</p>
                                </div>
                                <div class="resume-row">
                                  <h6 class="resume-type">Bala Studio</h6>
                                  <i class="resume-study">(Daily Routine Work After 7PM)</i>
                                  <p class="resume-text">Video Editing as per the customer requirement and creativity , then copy onto the DVD's & Pendrives.</p>
                                </div>
                                <div class="resume-row">
                                  <h6 class="resume-type">Triple D Technology</h6>
                                  <i class="resume-study"> Web developer<br> (Daily 10AM to 4PM)</i>
                                  <p class="resume-text">Internship and Training for an web developer, and Working the project for ExNora Club</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                       </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page 4 -->
      <div data-anchor="page4" class="pp-scrollable section section-4">
        <div class="scroll-wrap">
          <div class="section-bg bg-about" style="background-image:url();"></div>
          <div class="scrollable-content">
            <div class="vertical-title text-white  d-none d-lg-block"><span>About us</span></div>
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="row align-items-center">
                        <div class="col-lg-6 offset-xl-1">
                          <div class="experience-box">
                            <div class="experience-content">
                              <div class="experience-number">2</div>
                              <div class="experience-info"><div>Years<br>Experience<br>Working</div></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-5 mt-5 mt-xl-0">
                          <h2 class="title"> <span class="text-primary">Self-Rating on the </span> Technical Skills</h2>
                          Work for an organization which provides me the opportunity to improve my skills and knowledge to grow along with the organization objective.
                          <div class="progress-bars">
                            <div class="clearfix">
                              <div class="number float-left">Editing</div>
                              <div class="number float-right">90%</div>
                            </div>
                            <div class="progress">
                              <div class="progress-bar-wrp">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                            <div class="clearfix">
                              <div class="number float-left">Photography & Videography</div>
                              <div class="number float-right">80%</div>
                            </div>
                            <div class="progress">
                              <div class="progress-bar-wrp">
                                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                            <div class="clearfix">
                              <div class="number float-left">Web Designing</div>
                              <div class="number float-right">70%</div>
                            </div>
                            <div class="progress">
                              <div class="progress-bar-wrp">
                                <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page 5 -->
      <div data-anchor="page5" class="pp-scrollable text-white section section-5">
        <div class="scroll-wrap">
          <div class="bg-changer">
            <div class="section-bg" style="background-image:url();"></div>
            <div class="section-bg" style="background-image:url();"></div>
            <div class="section-bg" style="background-image:url();"></div>
            <div class="section-bg" style="background-image:url();"></div>
          </div>
          <div class="scrollable-content">
            <div class="vertical-title  d-none d-lg-block"><span>My works</span></div>
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="project-row">
                            <!-- <a class="active" href="project-detail.html"> -->
                              <span class="project-number">01</span>
                              <h2 class="project-title">Bala Studio</h2>
                              <div class="project-category">Video Editing</div>
                            </a>
                          </div>
                          <div class="project-row">
                            <!-- <a href="project-detail.html"> -->
                              <span class="project-number">02</span>
                              <h2 class="project-title">SV Media & Photography</h2>
                              <div class="project-category">All Studio works</div>
                            </a>
                          </div>
                          <div class="project-row">
                            <!-- <a href="project-detail.html"> -->
                              <span class="project-number">03</span>
                              <h2 class="project-title">Sathana TV</h2>
                              <div class="project-category">After Effects Works</div>
                            </a>
                          </div>
                          <div class="project-row">
                            <!-- <a href="project-detail.html"> -->
                              <span class="project-number">04</span>
                              <h2 class="project-title">Thamarai TV</h2>
                              <div class="project-category">All Channel Works</div>
                            </a>
                          </div>
                          <div class="project-row">
                            <!-- <a href="project-detail.html"> -->
                              <span class="project-number">05</span>
                              <h2 class="project-title">Triple D Technology</h2>
                              <div class="project-category">Internship</div>
                            </a>
                          </div>
                          <div class="view-all view-all-projects">
                            <a  href="projects.html" target="_blank">
                              View all projects
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page 6 -->
      <div data-anchor="page6" class="pp-scrollable section section-6">
        <div class="scroll-wrap">
          <div class="scrollable-content">
            <div class="vertical-title text-white d-none d-lg-block"><span>Applications</span></div>
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                       <h2 class="title text-white"><span class="text-primary">Softwares</span> known</h2>
                      <div class="row row-partners">
                        <div class="col-sm-6 col-md-4 col-xl-3 col-partner">
                          <div class="partner-inner"><img alt="" src="images/Softwares_Known/After Effects.png"></div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 col-partner">
                          <div class="partner-inner"><img alt="" src="images/Softwares_Known/Premiere Pro.png"></div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 col-partner">
                          <div class="partner-inner"><img alt="" src="images/Softwares_Known/Photoshop.png"></div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 col-partner">
                          <div class="partner-inner"><img alt="" src="images/Softwares_Known/Illustrator.png"></div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 col-partner">
                          <div class="partner-inner"><img alt="" src="images/Softwares_Known/AVID.png"></div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 col-partner">
                          <div class="partner-inner"><img alt="" src="images/Softwares_Known/Davinci Resolve.png"></div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 col-partner">
                          <div class="partner-inner"><img alt="" src="images/Softwares_Known/Edius.png"></div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 col-partner">
                          <div class="partner-inner"><img alt="" src="images/Softwares_Known/Filmora.png"></div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 col-partner">
                          <div class="partner-inner"><img alt="" src="images/Softwares_Known/Corel Draw.png"></div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 col-partner">
                          <div class="partner-inner"><img alt="" src="images/Softwares_Known/Power Director.png"></div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 col-partner">
                          <div class="partner-inner"><img alt="" src="images/Softwares_Known/Word Press.png"></div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 col-partner">
                          <div class="partner-inner"><img alt="" src="images/Softwares_Known/MS Office.png"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page 7 -->
      <div data-anchor="page7" class="pp-scrollable section section-7">
        <div class="scroll-wrap">
          <div class="section-bg" style="background-image:url();"></div>
          <div class="scrollable-content">
            <div class="vertical-title text-white d-none d-lg-block"><span>contact</span></div>
            <div class="vertical-centred">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro overflow-hidden">
                      <div class="row">
                        <div class="col-md-6">
                          <h2 class="title"><span class="text-primary">TamilNadu</span>, India</h2>
                          <h5 class="text-muted">Market Ull Street, Virudhunagar- 626 001</h5>
                          <section class="contact-address">
                            <h3><a class="mail" href="mailto:contact@bazkicreations@gmail.com">bazkicreations@gmail.com</a></h3>
                            <h3><span class="phone"><a href="tel:+91 9566429476">Call us at +91 9566429476</a></span></h3>
                          </section>
                        </div>
                        <div class="col-md-6">
                          <div class="contact-info">
                            <form class="js-form" novalidate="novalidate">
                              <div class="row">
                                <div class="form-group col-sm-6">
                                  <input type="text" name="name" required="" placeholder="Name*" aria-required="true">
                                </div>
                                <div class="form-group col-sm-6">
                                  <input type="email" required="" name="email" placeholder="Email*">
                                </div>
                                <div class="form-group col-sm-12">
                                  <input type="text" name="subject" placeholder="Subject (Optinal)">
                                </div>
                                <div class="form-group col-sm-12">
                                  <textarea name="message" required="" placeholder="Message*"></textarea>
                                </div>
                                <div class="form-group form-group-message col-sm-12">
                                  <span id="success" class="text-primary">Thank You, your message is successfully sent!</span>
                                  <span id="error" class="text-primary">Sorry, something went wrong </span>
                                </div>
                                <div class="col-sm-12"><button type="submit" class="btn">Contact me</button></div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- jQuery -->

<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/wow.min.js"></script>
<script src="javascripts/smoothscroll.js"></script>
<script src="javascripts/animsition.js"></script>
<script src="javascripts/jquery.validate.min.js"></script>
<script src="javascripts/jquery.magnific-popup.min.js"></script>
<script src="javascripts/owl.carousel.min.js"></script>
<script src="javascripts/jquery.pagepiling.min.js"></script>

<!-- Scripts -->
<script src="javascripts/scripts.js"></script> 
</body>
</html>